@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Light.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    font-family: roboto;
    
}
html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}
img{
    height: 50px;
}
.toptab{
    display: flex;
    flex-direction: row;
}
nav{
    color: white;
    background-color: #365486;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
}
.client{
    padding-top: 0px;
    height: 30px;
    width: 30px;
}
.drt{
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bottomtab{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
}
.mid{
    width: 40%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    list-style: none;
}
.mid li{
    width: 100%;
    padding-top: 20px;
    color: white;
    
}
.mid a{
    text-decoration: none;
    color: white;
}

.gch{
    padding-top: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    width: 15%;
    gap: 15%;
}
.gch a{
    text-decoration:none ;
    color: white;
}
svg{
    fill: white;
}

.container{
    background: transparent;
    display: flex;
    border: solid #365486 ;
    border-radius: 10px;
    height: 70%;
    margin-top: 5%;
}
.disp{
    font-size: 50px;
}
.title{
    color: white;

    text-align: center;
    width: 30% ;
    height: 100;
    font-size: 3rem;
    border-right: solid #365486;
}
.title>p{
    margin-top: 20%;
}
.info{
    color: white;
    background:transparent;
    width: 70%;
    height: 100%;
    text-align: center;
    
}
.reminder{
    margin-top: 3%;
}
.reminder>input{
    float: inline-start;
    margin-left: 10%;
}
.reminder>label{
    float: inline-start;
}
form{
    width: 80%;
    margin-left: 10%;
}
.container a:hover{
   color: rebeccapurple;
}
#button{
    color: white;
    width: 20%;
    font-size: 15px;
}
#button:hover {  
    animation-name: timing;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.mid>ul>li:hover{
    text-decoration: underline;
}
#mail:focus,#pswd:focus{
    animation-name: timing;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

}

.sclogin>button{
    background: none;
    height: 7vh;
    width: 7vh;
    border: none;

}
.sclogin>button>img{
    height: 30px;
}

.sclogin>button:hover {  
    animation-name: timing;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;}
    
@keyframes timing{
    100%{transform: scale(1.2)}
}

.side ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.side li{
    width: 100%;
    height: 50px;
    list-style: none;
}
.side a {
    width: 100%;
    height: 100%;
    padding: 0 , 20px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.side li:hover{
    background-color: #416fbe;
}
.side{
    background-color: #3653869f;
    color: white;
    position:fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    display: none;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}
@media screen and (max-width:730px) {
    .mid{
        display: none;
    }
    .gch li:first-of-type{
        display: none;
    }
    .gch li:nth-child(2){
        display: none;
    }
    .btnlayout{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #button{
        margin-bottom: 5%;
    }
}
@media (min-width:731px) {
    .gch li:last-of-type{
        display: none;
    }
    
}
